body {
    font-family: Arial; /* Familia de fuentes */
    font-size: 16px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #ffffff; /* El color del fondo de la página web */
    color: #000000; /* El color del texto*/
  
  p {
     animation-duration: 3s;
     animation-name: slidein;

  }
  h3 {
      
      animation-duration: 3s;
      animation-iteration-count: infinite;
      color:#6258fa;
      animation-name: rebote;

  }
}
h1 {
    animation: color-change 3s infinite;
    color: #08b083; /* El color de la cabecera */
    font-size: 30px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Arial'; /* La familia tipográfica utilizada en la cabecera */
}

img {
      font-size: 20px;
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: rgb(201, 14, 226);
    }
}
@keyframes girar {

    from {

      transform: rotate(0deg); /* La rotación inicial es de 0 grados */

    }

    to {

      transform: rotate(360deg); /* La rotación final es de 360 grados */

    }
  }
  .rebote {

    animation: rebotar 1s infinite; /* La animación "rebotar" dura 1 segundo y se repite infinitamente */

  }

  @keyframes rebotar {

    0%, 100% {

      transform: translateY(0); /* Estado inicial y final: sin desplazamiento vertical */

    }

    50% {

      transform: translateY(-10px); /* Pico del rebote: desplazamiento hacia arriba */

    }

  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    50% {
      font-size: 100%;
      margin-left: 25%;
      width: 150%;
    }
